<%= content_for(:head) do %>
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script type="text/javascript">
    Paddle.Setup({ vendor: 155486 });
  </script>
<% end %>
<h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "space-y-6"}) do |f| %>
  <div>
    <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-90" %>
    <div class="mt-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div>
    <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-90" %>
    <div class="mt-2">
      <%= f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "block text-sm font-medium leading-6 text-gray-90" %>
    <div class="mt-2">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <%= f.label :license_code, class: "block text-sm font-medium leading-6 text-gray-90" %>

      <div class="text-sm leading-6">
        <%= link_to "How do I get a code?", new_license_path, class: "font-semibold text-pink-600 hover:text-pink-500", data: { turbo: true, turbo_frame: 'modal' } %>
      </div>
    </div>
    <div class="mt-2">
      <%= f.text_field :license_code, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div>
    <p class="block text-sm font-medium leading-6 text-gray-900">Terms of Service</p>
    <div class="mt-2 flex flex-row items-center">
      <%= f.check_box :terms_of_service, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-600" %>
      <%= f.label :terms_of_service, class: "ml-3 block text-sm leading-6 text-gray-900" do %>
        I accept the <%= link_to 'Terms of Service', page_path('terms-of-service'), class: 'font-semibold text-pink-600 hover:text-pink-500' %>
    <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Join the sounder", class: "flex w-full justify-center rounded-md bg-pink-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600", data: { turbo: true } %>
  </div>

  <p class="mt-10 text-center text-sm text-gray-500">
    Already have an account?
    <%= link_to new_session_path(resource_name), class: 'font-semibold leading-6 text-pink-600 hover:text-pink-500' do  %>
      Into the sty &rarr;
    <% end %>
  </p>
<% end %>
